body {
  font-family: Arial, sans-serif;
  background-color: #e0a2a2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: rgb(180, 232, 190);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input, select {
  margin: 10px 5px;
  padding: 8px;
  width: 150px;
}

button {
  padding: 10px 20px;
  background-color: #9b7045;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #d62222;
}
