body {
  font-family: Arial, sans-serif;
  background-color: #99b1c5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #f8f3f3;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

#result {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}
